<div class="row">
    <div class="col-xs-12 col-sm-2 col-m-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto.png"
        class="img-fluid"
        id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-m-2 col-md-2 col-lg-2">
        <p id="nombre">Maximiliano Gigena</p>
        <p>Full Stack Developer</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-m-8 col-md-8 col-lg-8">
        <span>
            <h1>No pude terminar</h1>
            <p>No pude terminar de hacer todas las actividades que pedian. Necesito mas tiempo para poder completarlo. Me costó mucho pero voy avanzando. Si hay posibilidad de otra prorroga me sería de gran ayuda. Muchas gracias!</p>
        </span>
    </div>
</div>